<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="/static/assets/css/animate.min.css">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="/static/assets/css/meanmenu.css">
<!-- Boxicons CSS -->
<link rel="stylesheet" href="/static/assets/css/boxicons.min.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
<!-- Owl Carousel Default CSS -->
<link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css">
<!-- Odometer CSS -->
<link rel="stylesheet" href="/static/assets/css/odometer.min.css">

<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="/static/assets/css/magnific-popup.min.css">
<!-- Imagelightbox CSS -->
<link rel="stylesheet" href="/static/assets/css/imagelightbox.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/static/assets/css/style.css">
<!-- Dark CSS -->
<link rel="stylesheet" href="/static/assets/css/dark.scss">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/static/assets/css/responsive.scss">



    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets1/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets1/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets1/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/static/assets1/images/favicons/site.webmanifest" />
    <meta name="description" content="Kidearn is a modern HTML Template for kindergarten, preschool, nursery and primary schools. The template perfectly fits for child care, babysitting, education and children related schools, websites and businesses." />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Fredoka:wght@700&family=Schoolbell&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/assets1/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/bootstrap-select/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/tiny-slider/tiny-slider.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/kidearn-icons/style.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets1/vendors/owl-carousel/css/owl.theme.default.min.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/static/assets1/css/kidearn.css" />


    <link rel="shortcut icon" href="/static/assetsz/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assetsz/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Jost:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/assetsz/css/app.min.css">
    <link rel="stylesheet" href="/static/assetsz/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assetsz/css/style.css">
</head>
<body>
    <br><br>
    <div class="container">
        <div class="title-area text-center">
            <div class="sec-bubble">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
            <h2 class="sec-title">Admission</h2>
            <p class="sec-text">We are constantly expanding the range of services offered</p>
        </div>
    <div class="class-bar">
        <div class="row gx-60 gy-gx align-items-center justify-content-md-start justify-content-center">
            <div class="col-md-auto">
                <div class="media-style3">
                    <div class="media-icon"><img src="/static/assetsz/img/icon/cls-d-1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <p class="media-title">Class:</p>
                        <p class="media-info">Nursery</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="info-style1">
                    <p class="info-title">Age Group:</p>
                    <p class="info-text">2 Years</p>
                </div>
            </div>
        </div><br>

        <div class="row gx-60 gy-gx align-items-center justify-content-md-start justify-content-center">
            <div class="col-md-auto">
                <div class="media-style3">
                    <div class="media-icon"><img src="/static/assetsz/img/icon/cls-d-1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <p class="media-title">Class:</p>
                        <p class="media-info">Nursery</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="info-style1">
                    <p class="info-title">Age Group:</p>
                    <p class="info-text">2 Years</p>
                </div>
            </div>
        </div><br>

        <div class="row gx-60 gy-gx align-items-center justify-content-md-start justify-content-center">
            <div class="col-md-auto">
                <div class="media-style3">
                    <div class="media-icon"><img src="/static/assetsz/img/icon/cls-d-1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <p class="media-title">Class:</p>
                        <p class="media-info">Nursery</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="info-style1">
                    <p class="info-title">Age Group:</p>
                    <p class="info-text">2 Years</p>
                </div>
            </div>
        </div><br>

        <div class="row gx-60 gy-gx align-items-center justify-content-md-start justify-content-center">
            <div class="col-md-auto">
                <div class="media-style3">
                    <div class="media-icon"><img src="/static/assetsz/img/icon/cls-d-1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <p class="media-title">Class:</p>
                        <p class="media-info">Nursery</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="info-style1">
                    <p class="info-title">Age Group:</p>
                    <p class="info-text">2 Years</p>
                </div>
            </div>
        </div><br>

        <div class="row gx-60 gy-gx align-items-center justify-content-md-start justify-content-center">
            <div class="col-md-auto">
                <div class="media-style3">
                    <div class="media-icon"><img src="/static/assetsz/img/icon/cls-d-1-1.svg" alt="icon"></div>
                    <div class="media-body">
                        <p class="media-title">Class:</p>
                        <p class="media-info">Nursery</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="info-style1">
                    <p class="info-title">Age Group:</p>
                    <p class="info-text">2 Years</p>
                </div>
            </div>
        </div>
    </div>
</div>





















    <section class="contact-four">
        <div class="contact-four__shape1 kidearn-splax" data-para-options='{"orientation": "left", "scale": 1.5, "delay": ".3", "transition": "cubic-bezier(0,0,0,1)", "overflow": true}'>
            <img src="/static/assets1/images/shapes/contact-4-shape-1.png" alt="kidearn">
        </div>
        <div class="contact-four__shape2 kidearn-splax" data-para-options='{"orientation": "right", "scale": 1.5, "delay": ".3", "transition": "cubic-bezier(0,0,0,1)", "overflow": true}'>
            <img src="/static/assets1/images/shapes/contact-4-shape-2.png" alt="kidearn">
        </div>
        <div class="contact-four__shape3 kidearn-splax" data-para-options='{"orientation": "up", "scale": 1.6, "delay": ".6", "transition": "cubic-bezier(0,0,0,1)", "overflow": true}'>
            <img src="/static/assets1/images/shapes/contact-4-shape-3.png" alt="kidearn">
        </div>
    <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 d-flex align-items-center wow fadeInLeft" data-wow-delay="200ms">
                            <div class="contact-four__wrapper">
                                <div class="sec-title text-left">
    
                                    <h6 class="sec-title__tagline">Contact with Us</h6>
                                    <!-- /.sec-title__tagline -->
    
                                    <h3 class="sec-title__title">Feel free to write us <br> anytime</h3>
                                    <!-- /.sec-title__title -->
                                </div>
                                <!-- /.sec-title -->
                                <form class="contact-one__form contact-form-validated form-one" action="inc/sendemail.php">
                                    <div class="form-one__group">
                                        <div class="form-one__control ">
                                            <input type="text" name="name" placeholder="Your Name">
                                        </div>
                                        <!-- /.form-one__control  -->
                                        <div class="form-one__control ">
                                            <input type="email" name="email" placeholder="Email Address">
                                        </div>
                                        <!-- /.form-one__control  -->
                                        <div class="form-one__control ">
                                            <input type="text" name="phone" placeholder="Your Phone">
                                        </div>
                                        <!-- /.form-one__control  -->
                                        <div class="form-one__control">
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                        <!-- /.form-one__control  -->
                                        <div class="form-one__control form-one__control--full">
                                            <textarea name="message" placeholder="Write a Message"></textarea>
                                            <!-- /# -->
                                        </div>
                                        <!-- /.form-one__control -->
                                        <div class="form-one__control form-one__control--full">
                                            <button type="submit" class="kidearn-btn kidearn-btn--xl"><span>Get In Touch</span></button>
                                        </div>
                                        <!-- /.form-one__control -->
                                    </div>
                                    <!-- /.form-one__group -->
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="google-map google-map__home-map">
                                <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                                    class="map__home-map" allowfullscreen></iframe>
                            </div>
                            <!-- /.google-map -->
                        </div>
                    </div>
                </div>
          </section>
                   
    
    
          <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <h2>
                                    <a href="index.html">Ketan</a>
                                </h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                            <i class='bx bxl-pinterest-alt'></i>
                                        </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact Us</h3>
    
                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:882569756">882-569-756</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="/cdn-cgi/l/email-protection#a5cdc0c9c9cae5cec0d1c4cb8bc6cac8"><span class="__cf_email__" data-cfemail="48202d24242708232d3c2926662b2725">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span> 175 5th Ave Premium Area, New York, NY 10010, United States
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Activities</h3>
    
                            <ul class="quick-links">
                                <li>
                                    <a href="#">Maths Olympiad</a>
                                </li>
                                <li>
                                    <a href="#">Art Competition</a>
                                </li>
                                <li>
                                    <a href="#">English Novels</a>
                                </li>
                                <li>
                                    <a href="#">Science Competition</a>
                                </li>
                                <li>
                                    <a href="#">Teachers Day</a>
                                </li>
                                <li>
                                    <a href="#">World Kids Day</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Photo Gallery</h3>
    
                            <ul class="photo-gallery-list">
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-1.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-2.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-3.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-4.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-5.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-6.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-1.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-2.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
    
                                <li>
                                    <div class="box">
                                        <img src="/static/assets/img/footer-gallery/footer-gallery-3.jpg" alt="image">
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          
    
          











</body>
</html>